<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.hnq.utsoft.ut_scanner">
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MApplication"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--默认扫描界面-->
        <activity android:name="cn.utsoft.commons.qrscanner.DefaultUIScanActivity"/>
        <!--默认的裁剪界面-->
        <activity
            android:name="cn.utsoft.commons.cropper.UTCropActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <!--默认的大图查看界面-->
        <activity android:name="cn.utsoft.commons.imgbrowser.activity.ImgBrowserActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>

</manifest>